@model IEnumerable<ShopTARgv24.Models.Kindergardens.KindergardensIndexViewModel>

    @{
        int rowNumber = 1;
    }

<div>
    <a asp-action="create" asp-controller="kindergardens" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1">
    Kindergardens
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">GroupName</th>
                <th scope="col">ChildrenCount</th>
                <th scope="col">KindergardenName</th>
                <th scope="col">TeacherName</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kindergardens in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@kindergardens.GroupName</td>
                    <td>@kindergardens.ChildrenCount</td>
                    <td>@kindergardens.KindergardenName</td>
                    <td>@kindergardens.TeacherName</td>
                    <td>
                        <a asp-action="details" asp-controller="Kindergardens" asp-route-id="@kindergardens.Id" class="btn btn-primary">Details</a>
                        <a asp-action="update" asp-controller="Kindergardens" asp-route-id="@kindergardens.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="Kindergardens" asp-route-id="@kindergardens.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>

                rowNumber += 1;
            }
        </tbody>
    </table>
</form>