@model ShopTARgv24.Models.Weather.AccuWeatherViewModel

<div class="container">
    <h2>Foreacast for the selected city</h2>
    <h2>@Html.DisplayFor(model => model.CityName)</h2>
    <hr />
    <dl class="row text-dark">
        <div>
            <dt class="col-sm-2">
                Temperature Min (Celsius):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TempMinValue) °C
            </dd>
        </div>
        <div>
            <dt class="col-sm-2">
                Temperature Max (Celsius):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TempMaxValue) °C
            </dd>
        </div>
        <div>
            <dt class="col-sm-2">
                Severity:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Severity)
            </dd>
        </div>
        <div>
            <dt class="col-sm-2">
                Category:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
        </div>
        <div>
            <dt class="col-sm-2">
                Weather Text:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Text)
            </dd>
        </div>
    </dl>
</div>